.main
{
    display: flex;
    flex-basis: auto;
    flex-direction: column;   
}

.top-navigation
{
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 940px;
}
.main-background
{
    display: block;
    background-image: url("../img/background.png");
    min-width: 100%;
    height: 400px;
    background-size: cover; 
    filter: brightness(50%); 
}
.content-block
{
    display: flex;
    flex-basis: auto;
    flex-flow:  row wrap;
    margin: -189px auto 0 ;
    max-width: 940px;
    min-height: 915px;
    filter: brightness(100%);
}
.films-background
{
    margin-top: 13px;
    min-width: 100%;
    min-height: 1042px;
    background-color: #f9f9f9;
}
.films-block
{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    margin: 1px auto;
    max-width: 1258px; 
    background-color: #f9f9f9;
}
.forms-block
{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 45px;
    width: 750px;
    height: 824px;
}

.footer
{
    display: block;
    margin: 70px 0 0 -1px;
    min-width: 100%;
    min-height: 70px;
    background-color: #f9f9f9;
}

.footer-text
{
    display: block;
    margin: 18px auto;
    max-width: 738px;
    text-align: center;
    font: 16px/32px Georgia;
    color: #555555;
}
