
.film-header
{
    display: block;
    margin-left: 40px;
    margin-bottom: 0;
    font: 400 36px/42px Open Sans;
    color: #333333;
}

.films-articles-block
{
    display: flex;
    flex-basis: auto;
    flex-flow: row wrap;
    justify-content: space-between; 
    margin: 31px 0 0 38px ; 
}

.film-column
{
    display: block;
    margin: 0 19px 0 1px;
    width: 285px;
    height: auto;
}
.image
{
    display: block;
    margin-top: 2px;
    width: 285px;
    height: 190px;
    border-radius: 5px;
    background-color: #464646;
}
.film-name
{
    display: block;
    margin-top: 23px;
    margin-left: -1.5px;
    font: 700 22px/32px Open Sans;
    color: #333333;
}
.film-name_astral
{
    margin-left: 0.5px;
}

.film-text
{
    display: block;
    margin-top: -5px;
    margin-left: 0.5px;
    width: 285px;
    height: auto;
    font: 16px/28px Georgia;
    color: #555555;
}