.forms_head_text
{
    display: block;
    position: relative;
    text-indent: -1px;
    width: 257px;
    height: 40px;
    margin: 0 auto;
    font: 300 36px/42px "Open Sans";
    color: #333333;
}
.forms_head_text::before
{
    display: block;
    position: absolute;
    top: 21px;
    right: 285px;
    content: "";
    width: 200px;
    height: 1px;
    background: url("../img/line-left.png") no-repeat;
}
.forms_head_text::after
{
    display: block;
    position: absolute;
    top: 21px;
    left: 270px;
    content: "";
    width: 200px;
    height: 1px;
    background: url("../img/line-right.png") no-repeat;
}

.form_window
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px 0 0 0;
    width: 540px;
    height: 85px;
}
.form_window_email
{
    margin-top: 24px;
}
.form_window_country
{
    margin-top: 25px;
}

.form_feel
{
    display: block;
    margin: 3px 0 0 1px;
    padding: 12px;
    padding-left: 19px;
    width: 505px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    font-size: 19px;
    outline: unset;
}
.form_feel:active,
.form_feel:focus
{
    border-color: #21d1ae;
}

.form_feel_select
{
    width: 540px;
    margin-top: 4px;
    padding: 6px 7px 8px 16px;
    font: 400 18px/32px "Open Sans"; 
    color: #555555;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/arrow_down.png") no-repeat 498px 18px;
}

.form_feel_textarea
{
    overflow: auto;
    height: 122px;
    resize: none; 
}

.form_name
{
    font: 400 20px/32px "Open Sans";
    color: #333333;
}
.form_name_marked
{
    font: 400 20px/32px "Open Sans";
    color: #333333;
}
.form_name_marked::after
{
    content: " *";
    color: red;
}

.gender_name
{
    display: block;
    font: 400 20px/32px Open Sans;
    color: #333333;
}
.gender
{
    width: 540px;
    height: 80px;
    margin: 42px auto 0;
}

.gender_choice
{
    display: block;
    margin: 5px 4px 0 -4px;
    width: 140px;
    height: 30px;
    float: left;
    font: 400 18px/32px "Open Sans";
    color: #333333;
}

.text_area
{
    width: 572px;
    height: 200px;
    margin: 24px auto;
}




