.button
{
    display: block;
    width: 140px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    text-indent: 24.5px;
    font: 19px/52px Georgia; 
    color: #333333;
    background: rgba(0, 0, 0, 0) url("../img/about_me_icon2.png") no-repeat;
    background-position-x: 21px;
    background-position-y: 17px;
}
.button:hover,
.button:focus
{
    color: aliceblue;
    background-image: url("../img/about_me_icon.png");
    background-color: #15a98c;
}

.button_hobby
{
    width: 160px;
    background-image: url("../img/hobby_icon.png");
    text-indent: 25px;
    background-position-x: 19px;
    background-position-y: 18px;
}
.button_hobby:hover,
.button_hobby:focus
{
    background-image: url("../img/hobby_icon2.png");
}

.button_video
{
    width: 234px;
    background-image: url("../img/video_icon.png");
    text-indent: 25px;
    background-position-x: 19px;
}
.button_video:hover,
.button_video:focus
{
    background-image: url("../img/video_icon2.png");
}


.empty
{
    width: 460px;
    height: 0;
}

.button_films
{
    margin: 54px 0 0 480px;
    text-indent: 0;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-image: unset;
    background-color: #15a98c;
    color: white;
    line-height: 49px;
}

.button_films:hover,
.button_films:focus
{
    background-image: none;
}

.button_sent
{
    text-indent: unset;
    line-height: 50px;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-image: none;
    background-color: #15a98c;
    color: white; 
    border: none;
    outline: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.button_sent:hover,
.button_sent:focus
{
    background-image: none;
}

.succes_letter
{
    display: block;
    margin-top: 10px;
    padding: 0 0 0 73px;
    width: 170px;
    height: 30px;
    text-decoration: none;
    font: 14px/16px "Roboto"; 
    background: url("/img/uspeh.png") no-repeat 31px 1px; 
    color: #2E2B2B;
    opacity: 0;
}
.appearence
{
    opacity: 100%;
}

.move_left
{
  display: block;
  width: 70px;
  height: 70px;
  margin: 177px 0 0 0;
  background: url("/img/point.png");
  border: none;
  outline: none;
}

.move_right
{
  display: block;
  width: 70px;
  height: 70px;
  margin: 177px 0 0 0;
  background: url("/img/point2.png");
  border: none;
  outline: none;
}