.lists_block
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 161px;
    width: 390px;
}
.list_head
{
    display: block;
    margin: 44px 0 0;
    font: 600 24px/32px "Open Sans", "sans-serif";
    color: #15a98c;  
}
.list_head_films
{
    margin: 41px 0 0;
}
.list
{
    display: block;
    padding: 0;
    margin: 13px 0 0;
    width: 330px;
    list-style: none;    
    text-align: left;
}
.list_films
{
    margin: 12px 0 0 19px;
    height: 170px;
    list-style: decimal;
}
.list_element
{
    margin: 0 0 0 4px;
    width: 280px;
    text-indent: 17px;
    font: 19px/36px Georgia;
    background: url("../img/marker.png") no-repeat;
    background-position-y: 15px ;
    color: #555555;
}
.list_element_films
{
    margin: 0 0 0 1.5px;
    text-indent: unset;
    background-image: none;
}
.list_element_films_trumen
{
    margin: 0 0 0 -1px;
    text-indent: unset;
    background-image: none;
}

.inform_block
{
    display: flex;
    flex-direction: column;
    width: 565px;
    height: 700px;
}
.inform_block_first_head
{
    display: block;
    margin: 45px 0 0 4px;
    font: 700 48px/42px "Open Sans";
    color: #333333;
}
.inform_block_first_head:after
{
    display: block;
    margin: 31px 0 0 -4px;
    width: 60px;
    height: 6px;
    content: "";
    border-radius: 3px;
    background-color: #45c3aa;
}
.inform_block_second_head
{
    display: block;
    margin: 25px 0 0 0;
    width: 300px;
    text-indent: -2px;
    font: 400 36px/42px "Open Sans";
    color: #333333;
}
.inform_block_text
{
    display: block;
    margin-top: 44px;
    width: 521px;
    height: 190px;
    font: 19px/32px Georgia;
    text-align: left;
    color: #555555;
}
.inform_block_text_hobby
{
    margin: 15px 0 0 0;
    display: block;
    width: 566px;
    height: 161px;
}

.letter
{
    display: flex;
    flex-direction: row;
    margin: 40px 0 0 0;
    width: 170px;
    height: 42px;
}
.letter_words
{
    display: block;
    margin-top: -2px;
    width: 116px;
    height: 28px;
    font: 19px/35px Georgia;
    text-decoration: none;
    color: #15a98b;
    border-bottom: 1.5px inset #54d1b8;
}
.letter_words_pointer
{
    width: 20px;
    margin-left: 4px;
    border-bottom: none;
}