@media screen and (min-width: 480px)
{
    .main
    {   
        grid-template-columns: auto auto auto;
        grid-template-areas:
        " . top_navigation . "
        " . top_content . "
        " . content_block . "
        " films_block films_block films_block"
        " . forms_block . "
        "footer footer footer";
    }

    .button_films,.button_sent
    {
        width: 220px;
        height: 50px;
    } 

    .blockquote_text 
    {
        min-width: 440px;
    } 
    
    .lists_block
    {
        max-width: 565px
    }

    .film_column
    {
        max-width: 630px;
    }

    .image
    {
        min-width: 400px;
        max-width: 500px;
        height: 261px;
    }    

    .form_window
    {
        max-width: 440px;
    }

    .form_feel
    {
        width: 400px;
    }  
    
    .form_feel_select
    {
        width: 435px;
        background-position-x: 388px;
    }

    .gender
    {
        margin: 41px auto 0 0;
    }
}

@media screen and (min-width: 768px)
{    
    .top_navigation
    {
        flex-flow: row wrap;   
    }

    .films_articles_block
    {
        padding: 0;
        max-width: 902px;
        justify-content: space-between;
    }   
    
    .film_column
    {
        margin-right: 20px;
    }

    .forms_head_text::before
    {
        display: block;
        position: absolute;
        top: 21px;
        right: 285px;
        content: "";
        width: 200px;
        height: 1px;
        background: url("../img/line-left.png") no-repeat;
    }
    .forms_head_text::after
    {
        display: block;
        position: absolute;
        top: 21px;
        left: 270px;
        content: "";
        width: 200px;
        height: 1px;
        background: url("../img/line-right.png") no-repeat;
    }

    .form_window
    {
        max-width: 540px;
    }

    .form_feel
    {
        width: 505px;
    }  
    
    .form_feel_select
    {
        width: 540px;
        background-position: 498px 18px;
    }  
}


@media screen and (min-width: 1024px)
{
    .main
    {   
        grid-template-columns: auto auto auto auto auto;
        grid-template-areas:
        " . . top_navigation . . "
        " . . top_content . . "
        " . . content_block . . "
        " films_block films_block films_block films_block films_block "
        " . . forms_block . . "
        "footer footer footer footer footer";
    }

    .film_header
    {
        margin: 10px 0;
    }    

    .top_navigation
    {
        justify-content: start;
        max-width: 960px;
    }

    .top_content
    {
        min-width: 830px;
        max-width: 960px;
        flex-direction: row;
        justify-content: space-between;
        justify-content: unset;
        align-items: unset;
    }

    .blockquote_block
    {
        max-width: 530px;
        margin: 25px 0 0 63px;
        padding: 0;
    }

    .blockquote_text
    {
        color: #ffffff;
        margin: 0;
    }

    .blockquote_author
    {
        color: #ffffff;
    }

    .main_head
    {
        margin: 74px 0 0 1px;
    }
    .main_head:after
    {
        margin: 31px 0 0 -4px;
        width: 60px;
    }

    .main_background
    {
        grid-area: 2 / 1 / 3 / 6;
    }

    .content_block
    {
        flex-direction: row;
        padding: 0;
        justify-content: unset;
        max-width: 961px;
    }

    .lists_block    
    {
        padding: 0;
        max-width: 390px;
        margin-top: 0;
    }

    .first_list
    {
        margin-top: 25px;
    }

    .inform_block
    {
        max-width: 520px;
    }

    .inform_block_text
    {
        padding: 0;
    }

    .inform_block_second_head
    {
        margin: 23px 0 0 0;
    }

    .letter
    {
        margin: 38px 0 0 0;
    }

    .films_block
    {
        max-width: unset;
        width: 926px;
    }  
    
    .films_articles_block
    {
        max-width: none;
    }

    .film_column
    {
        padding: 0;
        max-width: 400px;
    }

    .film_name
    {
        margin: 23px 0 0 0;
        text-align: unset;
        text-indent: -2px;
    }

    .button_sent
    {
        margin-left: 0;
    }  
    
    .footer_text
    {
        padding: 0 21px 6px 0;
    }    
}

@media screen and (min-width: 1366px)
{
    .main
    {   
        grid-template-columns: auto auto 960px auto auto;
    }

    .top_content
    {
        justify-content: unset;
        align-items: unset;
    }

    .blockquote_block
    {
        max-width: 530px;
        margin: 25px 0 0 63px;
        padding: 0;
    }

    .lists_block
    {
        max-width: 390px;
    }

    .second_list
    {
        margin-top: 21px;
    }

    .content_block
    {
        justify-content: unset;
    }

    .inform_block
    {
        max-width: 565px;
    }

    .films_background
    {
        margin-top: 0;
    }    

    .films_block
    {
        width: unset;
        max-width: 1200px;
    }    

    .films_articles_block
    {
        flex-direction: row;
        justify-content: space-between;
        margin: 32px 0 0 0;
        max-width: unset;
        width: 1200px;
    }

    .film_header
    {
        margin: 0;
    }

    .image
    {
        min-width: unset;
        width: 285px;
        height: 190px;
    }

    .film_column
    {
        margin: 0;
        max-width: 285px;
    }

    .forms_block
    {
        width: 600px;
    }
}

